<?xml version="1.0"?>
<configuration>

  <system.webServer>
    <rewrite>
      <rules>
 
        <rule name="annotatedearth.com" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?annotatedearth.(com|nl)" />
            <add input="{PATH_INFO}" pattern="^/annotatedearth/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\annotatedearth.com\{R:0}" />
        </rule>

        <rule name="gpscheat.com" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?gpscheat.(com|nl)" />
            <add input="{PATH_INFO}" pattern="^/gpscheat/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\gpscheat.com\{R:0}" />
        </rule>
  
        <rule name="phonebomber.com" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?phonebomber.(com|nl)" />
            <add input="{PATH_INFO}" pattern="^/phonebomber/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\phonebomber.com\{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>